@mixin box($color) {
    border: 1px solid $color;
    background-color: $color;
    border-radius: 20px;
    width: 260px;
    padding: 20px;
    margin: 10px;
}

@mixin button($color) {
    padding: 3px 7px;
    background-color: $color;
    color: white;
    border-radius: 12px;
    border: none;
}

@mixin buttons($color) {
    padding: 3px 7px;
    background-color: $color;
    color: rgb(92, 92, 201);
    border-radius: 12px;
    border: none;
}