    * {
        box-sizing: border-box;
    }
    
    @import 'mq';
    body {
        margin: 10px 20px 30px 20px;
        padding: 40px;
        div.table {
            display: flex;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            div.col1 {
                background-color: rgb(184, 226, 243);
                border: 1px solid rgb(184, 226, 243);
                border-radius: 20px;
                width: 320px;
                height: 520px;
                padding: 10px;
                padding-left: 40px;
                p {
                    text-align: left;
                }
                div.card {
                    margin: 70px auto 0;
                    width: 260px;
                    background: black;
                    border: 5px solid white;
                    border-radius: 12px;
                    position: relative;
                    right: 10px;
                }
                .card .profile img {
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                }
                .profile {
                    display: flex;
                }
                .roles p {
                    margin-left: 10px;
                    color: grey;
                    margin-top: 0;
                }
                .project {
                    margin-bottom: 30px;
                    line-height: 17px;
                    color: white;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
            div.col2 {
                width: 80%;
                div.row1 {
                    padding-left: 120px;
                    h2 {
                        padding-top: 30px;
                    }
                }
                div.row2 {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    div.col3 {
                        @include box(rgb(0, 0, 0));
                        div.arrange {
                            display: flex;
                            flex-direction: column;
                            button .btn {
                                @include button(rgb(92, 92, 201))
                            }
                        }
                    }
                    div.col4 {
                        @include box(rgb(92, 92, 201));
                        div.arrange {
                            display: flex;
                            flex-direction: column;
                            button .btn {
                                @include button(white)
                            }
                        }
                    }
                }
            }
        }
        i {
            color: blue;
            font-size: 50px;
            float: left;
        }
    }